.header-div{
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  height:60px;
}

.header-logo img{
  width: 70px;
}

.header-menu > ul{
  display: flex;
  list-style-type: none;
}

.search-card{
  display: flex;
  justify-content: end;
  margin: 10px;
}

.header-menu > ul > li{
  margin: 10px;
}

.restro-card{
  border: 1px solid black;
  width: 200px;
  height: 350px;
  margin: 15px;
}

.restro-card:hover{
  scale: 1.03;
}

.res-container{
  display: flex;
  flex-wrap: wrap;

}

.restro-img img{
  width: 100%;
  height: 160px;
}
